
  .desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #ffffff;
  }

  .container-popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 6.25rem; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #e89900; 
    background-color: rgba(0,0,0,0.4); 
  }

  .pop-up {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    width: 31.25rem;
    height: 20.875rem;
    background-color: #e89900;
    border-radius: 10px;
  }
 
  .buttn {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    height: 4.6875rem;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #e89900;
    text-decoration: none;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: #e89900;
    font-size: 2.0625rem;
    letter-spacing: 0;
    text-align: center;
    line-height: normal;
  }

  .buttn:hover {
    background-color: #e89900;
    border-color: #ffffff;
    color: #ffffff;
  }
  
  .input-email {
    border: none;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 26.3125rem;
    height: 3.125rem;
    background-color: #ffffff;
    border-radius: 10px;

    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 1.875rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .mail {
    margin-top: 7%;
    margin-left: 9%;
    margin-right: auto;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 1.875rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }


 .text-logo{
    text-decoration: none;
    margin-left: 1.25rem;
    width: 10.25rem;
    height: 6.125rem;
    flex-shrink: 0;
  }

 .text-title{
    width: 52.6875rem;
    margin-left: 1.25rem;
    margin-top: 2.5rem;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.1875rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .ad {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 33.625rem;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 2.8125rem;
    letter-spacing: 0;
    line-height: normal;
  }

 .rest-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625rem;
    width: 18.375rem;
    height: 12.125rem;
    object-fit: cover;
  }

 .appka {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    width: max-width;
    height: 38.5rem;
    background-color: #e89900;
    border-radius: 0.625rem;
  }

 .text-rating {
    width: 12.1875rem;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000b2;
    font-size: 0.8125rem;
    letter-spacing: 0;
    align-self: flex-start;
    margin-left: 0.8125rem;
    line-height: normal;
  }

 .text-rest-name {
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    align-self: flex-start;
    margin-left: 0.8125rem;
    color: #000000;
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .closing {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 0.9375rem;
    align-self: flex-start;
    margin-left: 0.8125rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .restaurant-component {
    text-decoration: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 19.875rem;
    height: 20rem;
    background-color: #e89900;
    border-radius: 7px;
  }

 .top-foods {
    display: flex;
    gap: 0.9375rem;
    flex-direction: row;
    overflow-x: auto;
    width: auto;
    overflow-x: scroll;
  }

 .food-image {
    margin: auto;
    width: 18.375rem;
    height: 12.125rem;
    object-fit: cover;
  }

 .food-text {
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    margin: auto;
    color: #000000;
    font-size: 2.1875rem;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .food-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 19.875rem;
    height: 17.125rem;
    background-color: #e89900;
    border-radius: 7px;
  }
  
 .text-food {
    width: 52.6875rem;
    font-family: "Lato-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.1875rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .food {
    display: flex;
    gap: 0.9375rem;
    overflow-x: auto;
    flex-direction: row;
    align-content: space-evenly;
    width: max-width;
    height: 17.125rem;
  }

 .search-icon {
    align-self: flex-end;
    margin: auto;
    margin-right: 0.625rem;
    width: 1.75rem;
    height: 1.75rem;
    object-fit: cover;
  }

 .search-text {
    width: 34.0625rem;
    margin:auto;
    margin-left: 0.3125rem;
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #0000004c;
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: normal;
  }

 .search-bar {
    display: flex;
    height: 3.125rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.875rem;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #0000004c;
  }

 .search-image {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    width: auto;
    height: 36.75rem;
    left: 0.0625rem;
    background-image: url(../source_img/back.png);
    background-size: cover;
    background-position: 50% 50%;
  }

 .logo {
    margin-top: 2.1875rem;
    width: 5rem;
    height: 5.1875rem;
  }

 .login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    margin-left: 2%;
    width: 10.3125rem;
    height: 3.125rem;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #e89900;
  }

 .login:hover {
    background-color: #e89900;
    border-color: #ffffff;
    color: #ffffff;
  }

 .registration {
    display: flex;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2.3125rem;
    border-radius: 10px;
    border: 2px solid;
    width: 10.3125rem;
    height: 3.125rem;
    background-color: #e89900;
    border-color: #ffffff;
    border-radius: 10px;
  }

 .registration:hover{
    background-color: #ffffff;
    color: #e89900;
    border-color: #e89900;
  }

 .text-login {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #e89900;
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .text-register {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

 .shopping-bag-icon {
    margin: auto;
    margin-left: 2.3125rem;
    margin-right: 3.75rem;
    width: 3.125rem;
    height: 3.125rem;
    background-image: url("../source_img/shopping-bag.png");
    background-size: cover;
    background-position: 50% 50%;
  }
  
 .socials {
    display: flex;
    align-self: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: 1.5%;
    gap: 1.5625rem;
    width: auto;
    height: auto;
  }

 .footer {
    display: flex;
    flex-direction: row;
    gap: 1.5625rem;
    width: auto;
    height: 9rem;
    background-color: #ffffff;
    box-shadow: inset 0px 0.25rem 0.25rem #00000040;
  }
  
 .youtube {
    width: 4.1394rem;
    height: 3.2131rem;
  }
  
 .img {
    width: 3.125rem;
    height: 3.125rem;
  }

 .mcdonalds {
    position: absolute;
    width: 18.375rem;
    height: 12.25rem;
    top: 0.625rem;
    left: 0.75rem;
    object-fit: cover;
  }

 .frame {
    width: 34.375rem;
    height: 31.8125rem;
    margin: auto;
    background-size: cover;
    background-position: 50% 50%;
  }
  
 .phone {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 12.875rem;
    height: 27.25rem;
    background-color: #d9d9d9;
    border-radius: 25px;
  }
  
 .text-app {
    font-family: "Lato-Regular", Helvetica;
    font-weight: 400;
    margin: auto;
    color: #000000;
    font-size: 1.5625rem;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
 .qr {
    margin-bottom: 2.1875rem;
    width: 9.0625rem;
    height: 9.0625rem;
    object-fit: cover;
  }
  
 .apple-app {
    width: 18.0625rem;
    height: 7.4375rem;
    object-fit: cover;
  }
  
 .google-app {
    width: 16.0625rem;
    height: 6rem;
    object-fit: cover;
  }
  
 .header {
    display: flex;
    flex: auto;
    width: auto;
    height: 98;
    top: -1px;
    left: -1px;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #00000080;
    box-shadow: 0px 4px 4px #00000040;
  }
  
 .f-od {
    width: 10.25rem;
    font-family: "Inika-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 4.6875rem;
    letter-spacing: 0;
    line-height: normal;
  }